In [1]:
import pandas as pd
import datetime
import os

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
sns.set(color_codes=True)

# if matplotlib is not set inline, you will not see plots
%matplotlib inline

In [3]:
columns = ["Timestamp", "Window", "Buyer", "Seller", "Weight"]

In [4]:
targetdir = "./data/EdgeWeight/total_window/"
filelist = os.listdir(targetdir) 

df = pd.concat((pd.read_csv(targetdir + file, names= columns) 
                for file in filelist if file.startswith("parti")), ignore_index=True)

In [32]:
df.drop(["Timestamp", "Window", "Buyer", "Seller"], axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2684723 entries, 0 to 2684722
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   Weight  int64
dtypes: int64(1)
memory usage: 20.5 MB

In [24]:
df.count()

Timestamp    2684723
Window       2684723
Buyer        2684723
Seller       2684723
Weight       2684723
dtype: int64

In [30]:
df["Timestamp"].unique()

array([1619560797000])

In [25]:
pd.to_datetime(df["Timestamp"], unit='ms').dt.normalize()

0         2021-04-27
1         2021-04-27
2         2021-04-27
3         2021-04-27
4         2021-04-27
             ...
2684718   2021-04-27
2684719   2021-04-27
2684720   2021-04-27
2684721   2021-04-27
2684722   2021-04-27
Name: Timestamp, Length: 2684723, dtype: datetime64[ns]

In [5]:
df

,Timestamp,Window,Buyer,Seller,Weight
0,1619560797000,139104000000,0x9ba1e70de2917243082404eec8f6152916432d11,0x0b742783bfac8d4b6d332e5d1b63f433fcd8c0a0,3
1,1619560797000,139104000000,0x9ba1e70de2917243082404eec8f6152916432d11,0x1099b5eaf607a0df14f5da3c6c8fd06c74d23de0,1
2,1619560797000,139104000000,dqdc4.wam,52cbg.wam,1
3,1619560797000,139104000000,dqdc4.wam,qwybk.wam,1
4,1619560797000,139104000000,14zbi.wam,u.wbi.wam,1
...,...,...,...,...,...
2684718,1619560797000,139104000000,0xeabf37e0e0b94bbef47a0953fba221e8af378e45,0xbf4dd7ab937bf6f66a685268721a66ae39f88153,1
2684719,1619560797000,139104000000,0xbe7156733eace3d99daacc7ed3fe51d6d2a2bea0,0x0ed70f92b87ceced51a9e472fcd8d93a54a11835,1
2684720,1619560797000,139104000000,0x0d03d5e552531428da5674b8419bd553b7c253cf,0xc4bb83b0245aa98659c64503cb9db44cb67a9537,1
2684721,1619560797000,139104000000,0x0d03d5e552531428da5674b8419bd553b7c253cf,0x7afa41136b0384cb3e3283c47dcd488ba6713c28,1
2684722,1619560797000,139104000000,0x0d03d5e552531428da5674b8419bd553b7c253cf,0xb8012acd96f92a57207b89573507be1961d48cda,1

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118709 entries, 0 to 2118708
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   Timestamp   datetime64[ns]
 1   Category    object
 2   Price(USD)  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 48.5+ MB

In [35]:
df.sort_values(["Weight"], ascending=False)

         Weight
388464    14022
2090289   10587
2335617    6481
152790     6082
388348     6061
...         ...
981102        1
981103        1
981104        1
981105        1
2684722       1

[2684723 rows x 1 columns]

In [37]:
df["Weight"].mean()

1.8417274333329732

In [38]:
df["Weight"].max()

14022

In [39]:
df["Weight"].median()

1.0

,Buyer,Seller
0,0x9ba1e70de2917243082404eec8f6152916432d11,0x0b742783bfac8d4b6d332e5d1b63f433fcd8c0a0
1,0x9ba1e70de2917243082404eec8f6152916432d11,0x1099b5eaf607a0df14f5da3c6c8fd06c74d23de0
2,dqdc4.wam,52cbg.wam
3,dqdc4.wam,qwybk.wam
4,14zbi.wam,u.wbi.wam
...,...,...
2684718,0xeabf37e0e0b94bbef47a0953fba221e8af378e45,0xbf4dd7ab937bf6f66a685268721a66ae39f88153
2684719,0xbe7156733eace3d99daacc7ed3fe51d6d2a2bea0,0x0ed70f92b87ceced51a9e472fcd8d93a54a11835
2684720,0x0d03d5e552531428da5674b8419bd553b7c253cf,0xc4bb83b0245aa98659c64503cb9db44cb67a9537
2684721,0x0d03d5e552531428da5674b8419bd553b7c253cf,0x7afa41136b0384cb3e3283c47dcd488ba6713c28
2684722,0x0d03d5e552531428da5674b8419bd553b7c253cf,0xb8012acd96f92a57207b89573507be1961d48cda

In [32]:
grouped_df_distinct = df.groupby(["Buyer", "Seller"]).size().reset_index(name='Count')
# grouped_df_distinct = grouped_df_distinct.reset_index()
grouped_df_distinct

             Buyer        Seller  Count
0        ...rc.wam     egnqy.waa      1
1        ...rc.wam     nbxqy.wam      1
2         ..1s.wam     o1lbu.wam      1
3         ..24.wam     4u.b2.wam      1
4         ..24.wam     kkbaw.wam      1
...            ...           ...    ...
2684718  zzzri.wam     lbmba.wam      1
2684719  zzzri.wam     ptxra.wam      1
2684720  zzzri.wam  soulmate2god      1
2684721  zzzru.wam     rxfrk.wam      1
2684722  zzzru.wam     um3rw.wam      1

[2684723 rows x 3 columns]

In [33]:
grouped_df_distinct["Count"].unique()

array([1])